<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    	<class name="com.shopperstack.login.Login"/>
    	<class name="com.shopperstack.viewprod.ViewProd"/>
    	 <class name="com.shopperstack.wishlist.AddToWishList"/>
    	  <class name="com.shopperstack.wishlist.ViewWishlist"/>
    	  <class name="com.shopperstack.carts.AddToCart"/>
    		<class name="com.shopperstack.carts.GetFromCart"/>
    		 <class name="com.shopperstack.carts.UpdateFromCart"/>
    		 <class name="com.shooperstack.adress.AddAdress"/>
    		 <class name="com.shooperstack.adress.GetAdress"/>
      <class name="com.shopperstack.orders.PostOrder"/>
     <class name="com.shopperstack.orders.GetOrders"/>
       <class name="com.shopperstack.orders.GetInvoice"/>
        <class name="com.shopperstack.review.PostAReview"/>
      <class name="com.shopperstack.review.GetAllReviews"/>
       <class name="com.shopperstack.review.UpdateTheReview"/>
       <class name="com.shopperstack.review.GetAllReviews"/>
      <class name="com.shooperstack.adress.DeleteAdress"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
